* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: #230212;
}
h1 {
  text-align: center;
  color: white;
  margin: 1rem;
}

#ships-wrapper {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: auto;
}

.ship {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  gap: 0.5rem;
  border-radius: 0.5rem;
}

.ship img {
  width: 100%;
  object-fit: contain;
}

.old-ship {
  border: 3px solid rgb(176, 176, 176);
}
.new-ship {
  border: 3px solid rgb(31, 201, 16);
}
